
.container {
  width: 29.2294vw;
  height: 29.2294vw;
  border: 4px solid #568157;
  border-radius: 8px;
  padding: 0.6807vw;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}


.puzleContainer {
  display: grid;
  grid-template-columns: 133px 133px 133px;
  width: 400px;

}
.unShuffledImage {

  width: 100%;
  height: 100%;
}

.containerPreview {
  width: 100%;
  height: 100%;
}